[user]
	name = Josh Clayton
	email = josh.clayton@soundcloud.com
[core]
	excludesfile = /Users/josh/.gitignore
	precomposeUnicode = true
	whitespace = cr-at-eol
	fsmonitor = true
	untrackedCache = true
[init]
	defaultBranch = main
[commit]
	verbose = true
[pull]
	rebase = true
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[diff]
	tool = Kaleidoscope
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[merge]
	tool = Kaleidoscope
	confictstyle = zdiff3
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[rerere]
	enabled = true
	autoupdate = true
[maintenance]
	repo = /Users/josh/code/soundcloud.com
