[user]
  name = Josh Clayton

[includeIf "gitdir:~/code/personal/"]
  path = .gitconfig-personal

[includeIf "gitdir:~/code/work/"]
  path = .gitconfig-work

[core]
  excludesFile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  precomposeUnicode = true

[commit]
  verbose = true

[pull]
  rebase = true

[push]
  default = current
  followTags = true

[init]
  defaultBranch = main

[rebase]
  autosquash = true
